<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>splendorprint</title>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid fixed-top transparent" id="header-container" style="background-color:white" >
    <div class="container" style="padding-left:0 !important;: 0;padding-right: 0 !important">
        <nav class="navbar navbar-expand-md">
            <ul class="nav navbar-root navbar-root-multi mr-auto" id='nav-logo'>
                <li class="nav-link"><a class="text-decoration-none active" href="index.html">
                    <!--                <img src="assets/logo/logo2.png"/> --></a></li>
            </ul>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                    data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="about.html"
                                            style="color:#77b655;text-decoration:none"><span
                            style="color:#fff;">&nbsp;About</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="products.html"
                                            style="color:#77b655;text-decoration:none"><span style="color:#fff;">&nbsp;Products & Solutions</span></a>
                    </li>
                    <li class="nav-link"><a class="text-decoration-on-hover" href="news.html"
                                            style="color:#77b655;text-decoration:none"><span style="color:#fff;">&nbsp;News</span></a>
                    </li>
                    <li class="nav-link"><a class="text-decoration-on-hover" href="partners.html"
                                            style="color:#77b655;text-decoration:none"><span style="color:#fff;">&nbsp;Partners</span></a>
                    </li>
                    <li class="nav-link"><a class="text-decoration-on-hover" href="support.html"
                                            style="color:#77b655;text-decoration:none"><span style="color:#fff;">&nbsp;Support</span></a>
                    </li>
                    <li class="nav-link"><a class="text-decoration-on-hover" href="contact.html"
                                            style="color:#77b655;text-decoration:none"><span style="color:#fff;">&nbsp;Contact</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/hot_laminating_machines/protop_iris-44lk.png"
                 alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/cold_laminating_machines/protop_azalea1600cl.png"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/pouch_laminators/protop_leon13dx.png"
                 alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only" style="color: #000">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="about">
    <center>
        <h2>ABOUT US</h2><br>
        <p1>
            We offer the best printing devices and laminating machines in Kenya.<br>
            All our products are high quality products that meet the world standards.<br>
            <br>
            We offer a warranty to all our products<br>
            and the products are delivered to your location any where in Kenya<br>
            <br>
        </p1>
    </center>
</div>

<div class="container" style="padding: 30px">
    <h1>Fill in the blanks to write your story</h1>
    <form action="madlib_story.php">
        <div class="form-group">
            <label for="person1">Name</label>
            <input id="person1" name="person1" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="person2">Email Address</label>
            <input id="person2" name="person2" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="animal">Password</label>
            <input id="animal" name="animal" class="form-control" type="text">
        </div>

        <button type="submit" class="btn">Subscribe</button>
    </form>
</div>

<div class="social">
    <center>
        <img src="assets/social_icons/twitter.png">
        <img src="assets/social_icons/dribble.png">
        <img src="assets/social_icons/facebook.png">
        <img src="assets/social_icons/g_plus.png">
        <img src="assets/social_icons/skype.png">
        <img src="assets/social_icons/you_tube.png">
        <img src="assets/social_icons/behance.png">
        <img src="assets/social_icons/pinterest.png">
        <img src="assets/social_icons/stumble_upon.png">
        <img src="assets/social_icons/flickr.png"><br>

        <p1>Splendor Print<br>
            2019<br><br></p1>
    </center>
</div>


</div>


<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="jquery-3.3.1.min.js"></script>
</body>
</html>